@charset "UTF-8";
/* CSS Document */
h1 {
    padding: 10px 20px;
}

ul.hoge {
    background-color: #ff9e9e;
}

ul.hoge li {
    list-style: none;
    display: inline-block;
    padding: 2px 8px;
}

ul.hoge li:hover { background-color: #ffbcbc;}

a {
    color: #000;
    text-decoration: none;
}

ul.hoge li:not(:first-child) { border-left: 1px solid #000;}

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

tr {
    background-color: #ddd;
}

td {
    padding: 5px 20px;
}
